// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';

// Google Fonts
@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');

main {
    font-family: "Share Tech Mono";
}